.title , .action-button {
   text-align: center;
   color: #FFFFFF;
}

.title {
   font-family: 'Lobster',cursive;
}

.rule-row {
   text-align: center;
}


.action-button {
   margin: auto;
   background-color: #FF961F;
   font-family: 'Roboto Condensed', sans-serif;
   border-radius: 8px;
   cursor: pointer; /* make cursor show point hand on hover */
}

.input-box{
   border: 0;
   border-radius: 5px;
   font-family: 'Roboto Condensed', sans-serif;
   color: #FF961F;
   outline: none;
   vertical-align: text-bottom;
}

.input-box:focus{
   border: 2px solid #FF961F;
}

.grid-left{
   display: inline-block;
}

body {
  background-color: #3366FF;
}


/* SMARTPHONE (UP TILL IPHONE 6+)*/
@media only screen
and (min-device-width : 320px) and (max-device-width : 736px) {

   .title{
      font-size: 20vw;
      margin-top: 10vh;
   }

   .lets-go {
     width: 25vw; /* viewport widths */
     font-size: 6vw;
     margin-top: 10vh;
   }

   .enter-button {
      margin-top: 1em;
      font-size: 6vw;
      width: 14vw;
   }


   .grid-left {
      display: block;
   }


   .input-box {
      margin: auto;
      margin-top: 1em;
      height: 6vh;
      width: 40vw;
      font-size: 5vw;
   }

   #defbox {
      font-size: 4vw;
   }


}

/* TABLET (UP TILL IPAD AIR) */
@media only screen and (min-device-width : 737px) and (max-device-width: 1024px){

}

/* LAPTOP AND ABOVE */
@media only screen and (min-device-width : 1025px) {

   .input-box {
      height: 4vw;
   }

   #wordbox {
      width: 13vw;
      font-size: 3vw;
   }

   #defbox {
      font-size: 2.5vw;
      width: 35vw;
   }

   .title{
      font-size: 8vw;
   }

   .enter-button{
      width: 6vw;
      font-size: 2vw;
   }

   .lets-go {
     width: 17vw; /* viewport widths */
     font-size: 4vw;
     margin-top: 10vh;
   }

}
