body {
  background-color: #4D94FF;
  height: 100%;
  margin: 0;
}

.title {
  margin-top: 75px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
  font-size: 5em;
}

.action-button, .input-box {
  width: 200px;
  height: 50px;
  font-family: 'PT Serif', serif;
  border: 0;
}

.action-button {
  background-color: #FF961F;
  font-size: 1em;
  color: #FFFFFF;
}

.input-box {
  color: #FF961F;
  outline: 0;
  padding-left: 5px;
}

.wrapper {
  text-align: center;
}

#categories, #maxScore {
  font-size: 1em;
  display: inline-block;
}

.block {
  background-color: #FF961F;
  float: left;
}


@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {

  .title {
    margin-top: 25px;
  }

  #categories, #maxScore, #startButton {
    display: block;
    margin: 0 auto;
    margin: 5px auto;
  }

}

@media only screen and (max-device-width: 720px) {

  .title {
    font-size: 10em;
    margin-top: 150px;
  }

  #categories, #maxScore, #startButton {
    height: 100px;
    width: 600px;
    font-size: 3em;
    padding: 20px;
    margin: 30px auto;
  }
}
