.title , .action_button {
   text-align: center;
   color: #FFFFFF;
}

.title {
   font-family: 'Lobster',cursive;
}

.action_button {
   margin: auto;
   background-color: #FF961F;
   font-family: 'Roboto Condensed', sans-serif;
   border-radius: 8px;
   cursor: pointer; /* make cursor show point hand on hover */
}


body {
  background-color: #3366FF;
}


/* SMARTPHONE (UP TILL IPHONE 6+)*/
@media only screen
and (min-device-width : 320px) and (max-device-width : 736px) {

   .title{
      font-size: 20vw;
      margin-top: 10vh;
   }

   .action_button {
     width: 25vw; /* viewport widths */
     font-size: 6vw;
     margin-top: 40vh;
   }

}

/* TABLET (UP TILL IPAD AIR) */
@media only screen and (min-device-width : 737px) and (max-device-width: 1024px){

}

/* LAPTOP AND ABOVE */
@media only screen and (min-device-width : 1025px) {

   .title{
      font-size: 8vw;
   }


   .action_button {
     width: 17vw; /* viewport widths */
     font-size: 4vw;
     margin-top: 60vh;
   }

}
