body {
  background-color: #3366FF;
}

.container {
  background-color: #474747;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 15%;
  opacity: 0.3;
  position: relative;
}

.play_button{
  position: absolute;
  margin:auto;
}
